body{
    background-color: black;

}
.container{
    text-align: center;
    color: white;
}
.h1{
    border: 10px solid yellow;
    margin-bottom: 20px;
    margin-top: 150px;
    display: flex;
}
.h2{
    border: 10px solid yellow;
    margin-bottom: 20px;
    display: flex;
}
.h3{
    border: 10px solid yellow;
    margin-bottom: 20px;
    display: flex;
}